<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
        <meta charset="utf-8" />
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% block extra_head %}{% endblock extra_head %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
</head>

<body id="index" class="home">
{% include 'github.html' %}
        <header id="banner" class="body">
                <h1><a href="{{ SITEURL }}/">{{ SITENAME }} {% if SITESUBTITLE %}<strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
                <!-- <nav><ul>
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU -%}
                {% for pg in pages %}
                    <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
                {% endfor %}
                {% endif %}
                {% if DISPLAY_CATEGORIES_ON_MENU -%}
                {% for cat, null in categories %}
                    <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
                {% endif %}
                </ul></nav> -->
        </header><!-- /#banner -->
        <section class="app">
          <aside class="sidebar">
                 <header>
                Menu
              </header>
            <nav class="sidebar-nav">
         
              <ul>
                <li>
                  <a href="#"><i class="ion-bag"></i> <span>Shop</span></a>
        <!--           <ul class="nav-flyout">
                    <li>
                      <a href="#"><i class="ion-ios-color-filter-outline"></i>Derps</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-ios-clock-outline"></i>Times</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-android-star-outline"></i>Hates</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-heart-broken"></i>Beat</a>
                    </li>
                  </ul> -->
                </li>
                <li>
                  <a href="#"><i class="ion-ios-settings"></i> <span class="">Controls</span></a>
                  <ul class="nav-flyout">
                    <li>
                      <a href="#"><i class="ion-ios-alarm-outline"></i>Watch</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-ios-camera-outline"></i>Creeper</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-ios-chatboxes-outline"></i>Hate</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-ios-cog-outline"></i>Grinder</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#"><i class="ion-ios-briefcase-outline"></i> <span class="">Folio</span></a>
                  <ul class="nav-flyout">
                    <li>
                      <a href="#"><i class="ion-ios-flame-outline"></i>Burn</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-ios-lightbulb-outline"></i>Bulbs</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-ios-location-outline"></i>Where You</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-ios-locked-outline"></i>On Lock</a>
                    </li>
                     <li>
                      <a href="#"><i class="ion-ios-navigate-outline"></i>Ghostface</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#"><i class="ion-ios-analytics-outline"></i> <span class="">Graphicals</span></a>
                  <ul class="nav-flyout">
                    <li>
                      <a href="#"><i class="ion-ios-timer-outline"></i>Timers</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-arrow-graph-down-left"></i>You Lose</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-ios-partlysunny-outline"></i>Stormy</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-ios-timer-outline"></i>Lookie Look</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-ios-game-controller-a-outline"></i>Dork Mfer</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#"><i class="ion-ios-paper-outline"></i> <span class="">Papers</span></a>
                  <ul class="nav-flyout">
                    <li>
                      <a href="#"><i class="ion-ios-filing-outline"></i>File Cab</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-ios-information-outline"></i>Infos</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-ios-paperplane-outline"></i>Planes</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-android-star-outline"></i>Shop</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#"><i class="ion-ios-navigate-outline"></i> <span class="">Ass Finder</span></a>
                  <ul class="nav-flyout">
                    <li>
                      <a href="#"><i class="ion-ios-flame-outline"></i>Burn</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-ios-lightbulb-outline"></i>Bulbs</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-ios-location-outline"></i>Where You</a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-ios-locked-outline"></i>On Lock</a>
                    </li>
                     <li>
                      <a href="#"><i class="ion-ios-navigate-outline"></i>Ghostface</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#"><i class="ion-ios-medical-outline"></i> <span class="">Cocaine</span></a>
                </li>
              </ul>
            </nav>
          </aside>
        </section>
        {% block content %}
        {% endblock %}
        <section id="extras" class="body">
        {% if LINKS %}
                <div class="blogroll">
                        <h2>{{ LINKS_WIDGET_NAME | default('links') }}</h2>
                        <ul>
                        {% for name, link in LINKS %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                </div><!-- /.blogroll -->
        {% endif %}
        {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
                <div class="social">
                        <h2>{{ SOCIAL_WIDGET_NAME | default('social') }}</h2>
                        <ul>
                            {% if FEED_ALL_ATOM %}
                            <li><a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate">atom feed</a></li>
                            {% endif %}
                            {% if FEED_ALL_RSS %}
                            <li><a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate">rss feed</a></li>
                            {% endif %}

                        {% for name, link in SOCIAL %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                </div><!-- /.social -->
        {% endif %}
        </section><!-- /#extras -->

        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->

                <p>The theme is by <a href="http://coding.smashingmagazine.com/2009/08/04/designing-a-html-5-layout-from-scratch/">Smashing Magazine</a>, thanks!</p>
        </footer><!-- /#contentinfo -->

{% include 'analytics.html' %}
{% include 'disqus_script.html' %}
</body>
</html>
